.color{
    text-align: center;
}
nav{
    display:flex;
    height:250px;
    margin:-10px;
    padding:0;
    background-image:url("https://bit.ly/36EIHuD");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    text-decoration: none;
}
ul{
    display:flex;
    margin:40px;
    padding:5px;
}
li{ 
    list-style-type: none;
    margin:10px;
}
li a:hover{
    background-color: floralwhite;
    padding:20px;
}
nav>ul>li>{
    position:fixed;
    top:0;
    left:0;
    right:0;
   
}
a{
    text-decoration: none;
    font-size: larger;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(221, 8, 8);
}
.center{
    text-align: center;
    padding:0;
    margin:0;
}
.flex{
    display:flex;
    flex-direction: row;
    font-size: larger;
}
.first{
    margin:40px;
    padding:40px;
}
.second{
    margin:40px;
    padding:40px;
}

footer{
    margin:0;
    padding:0;
    background-color: darkolivegreen;
    display:flex;
    justify-content: space-around;
}
.fa{
    size:50px;
    color:blue;
    padding:30px;
}